@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif:wght@700&display=swap");
// @import "bootstrap";
/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

// $mynewcolor: #504c8a;
$mynewcolor: #6c63ff;

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: large;
}
body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Noto Serif", serif;
  }
}

.nav-container{
  background: rgb(108,99,255);
  background: linear-gradient(90deg, rgba(108,99,255,1) 0%, rgba(92,33,203,1) 100%);
  min-height: 10vh;
  // position: relative;

  .nav-content{
    margin: 0 20%;

    button{
      display: none;
    }

    .show{
      display: block;

      .loginBtn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        img{
          border: 1px solid #6c63ff;
          width: 2rem;
          height: 2rem;
        }
        .nav-user{
          width: 100%;
        }
      }
    }
  }
}

.jumbo {
  margin-top: 0px;
  padding-top: 0px;
  height: 100vh;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 2.2rem;
  width: 100%;

  p {
    padding-top: 8em;
  }
}

.pagination-container{
  display: flex;
  flex-direction: column;
}

.link:hover {
  background:#f8f9fa;
}
.link:last-child {
  border-bottom: 1px solid;
  line-height: 2rem;
}
.link {
  border-top: 1px solid;
  line-height: 2rem;
}
.nav-brand{
  text-decoration: none;
}
.appLink{
  background: #6c63ff;
  border-radius: 5px;
}
.appLink > a {
  color: #fff !important;
}
.activeDropdown {
  color: #fff !important;
  background: rgb(108,99,255);
  background: linear-gradient(120deg, rgba(108,99,255,1) 0%, rgba(92,33,203,1) 100%);
}

.pagination-btn-active:hover {
  background-color: #6c63ff;
}

.pagination-btn-disable {
  background-color: #000 !important;
}

.btn-primary {
  @include button-variant(
    $mynewcolor,
    darken($mynewcolor, 7.5%),
    darken($mynewcolor, 10%),
    lighten($mynewcolor, 5%),
    lighten($mynewcolor, 10%),
    darken($mynewcolor, 30%)
  );
}

.btn-outline-primary {
  @include button-outline-variant(
    $mynewcolor,
    #504c8a,
    lighten($mynewcolor, 5%),
    $mynewcolor
  );
}

.img-fluid {
  border: 5px solid #6c63ff;
  max-width: 100%;
  width: 200px;
  height: auto;
}

.nav-user-image {
  border: 1px solid #6c63ff;
  // max-width: 10%;
  width: 2rem;
  height: 2rem;
}

.badge {
  border: 1px solid #6c63ff;
  // max-width: 10%;
  width: 1.5rem;
  height: 1.5rem;
}

div.dropdown-menu > a.dropdown-item:focus {
  background-color: #6c63ff;
  color: #fff;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: rgba(108, 99, 255, 0.13) !important;
  color: white !important;
  border-color: #dee2e6 !important;
}

.btn-link:active,
.btn-link:focus,
.btn-secondary,
// .btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-group-toggle > .focus,
.btn-group-toggle > .active {
  // background-color: #504c8a !important;
  background-color: #6c63ff !important;
  color: white !important;
  border-color: #dee2e6 !important;
}

.btn-link:hover {
  background-color: #f2f2f2 !important;
}

.btn-secondary:hover {
  background-color: #504c8a !important;
  color: white !important;
  border-color: #dee2e6 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  // background-color: #504c8a !important;
  background-color: #6c63ff !important;
  border-color: #dee2e6 !important;
}

.nav-item > a.active :not(nav-user) {
  // color: #000 !important;
  color: #fff !important;
}

.nav-item > a :not(nav-user) {
  color: #000 !important;
  // color: #fff !important;
}

.nav-item > a.active {
  color: #fff !important;
}

table thead {
  // background-color: #504c8a;
  background-color: #6c63ff;
  color: #fff;
}

.app-variant {
  background: #6c63ff !important;
}

.app-modal {
  // border: 5px solid #6c63ff;
  border-left: 2rem solid #6c63ff;
}

.app-table {
  line-height: 2rem;
}

.pageTitle{
  font-size: 1rem;
}

@media (max-width: 1200px) {

  .jumbo {
    margin-top: 0px;
    padding-top: 0px;
    height: 60vh;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.5rem;
    position: relative;
  
    .jumbo-content{
      width: 80%;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}

@media (min-width: 1201px) {

  .jumbo {
    margin-top: 0px;
    padding-top: 0px;
    background-image: url("../images/welcome.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 2.2rem;
    width: 100%;
    position: relative;
  
    .jumbo-content{
      width: 80%;
      margin: 0;
      position: absolute;
      top: 30%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}

@media (min-width: 768px) {

  .nav-container{
    background: rgb(108,99,255);
    background: linear-gradient(90deg, rgba(108,99,255,1) 0%, rgba(92,33,203,1) 100%);
    height: 7vh;
    position: relative;
    z-index: 999;
  
    .nav-content{
      margin: 0;
      // position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  
      .loginBtn{
        display: flex;
        margin-left: auto;
      }
    }
  }

  .pageTitle{
    font-size: 1.2rem;
  }

  .pagination-container{
    display: flex;
    flex-direction: row;
  }
}

/* SideBar styling*/
.wrapper{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: rgb(108,99,255);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5%;
}
#sidebarCollapse{
  position: absolute;
  top: .5rem;
  right: 1.3rem;
  color: #e9e9ea;
}
#sidebar{
  height: inherit;
  margin: 2rem;
  text-align: left;
}
#sidebar ul li a{
  margin-left: .5rem;
  color: #e9e9ea;
}
#sidebar .list-item{
  margin: 2rem 0;
  font-size: 15px;
  font-weight: 600;
}
#sidebar li a{
  text-decoration: none;
  padding-left: .5rem;
}
.icon-color{
  color: #738a9b;
}
.btn-custom{
  background-color: #c4b9b9;
  border-radius: 50%;
  color: #215cad;
  font-weight: 600;
}
.sidebar-header{
  margin-top: 4rem;
  text-align: center;
  color: #e9e9ea;
}
.usr-image{
border: 2px solid white;
}
.collapse{
display: none;
}
#sidebar.active .sidebar-header h3 {
display: none;
}
#sidebar ul li a {
text-align: left;
}
#sidebar.active ul li a {
display: none;
}
#sidebar.active ul li i {
display: block;
}
.hidden{
display: none;
}

@media (max-width: 768px) {
#sidebar.active {
  width: 50px;
  text-align: center;
  margin: 0;
}
#sidebar {
  margin: 1rem;
}
#sidebarCollapse{
  right: .5rem;
}
#sidebar.active .sidebar-header h3 {
  display: none;
}
}

@media (min-width: 768px) {
  #sidebar.active .sidebar-header h3 {
    display: block; /* display on big screen */
  }
  #sidebar.active ul li a {
    display: block; /* display on big screen */
  }
  #sidebarCollapse{
    display: none;
  }
  .wrapper div button{
      display: none;
  }
  .wrapper{
      width: 15%;
      padding-top: 5%;
  }
}

@media (min-width: 913px) {
  #sidebar.active .sidebar-header h3 {
    display: block; /* display on big screen */
  }
  #sidebar.active ul li a {
    display: block; /* display on big screen */
  }
  #sidebarCollapse{
    display: none;
  }
  .wrapper div button{
      display: none;
  }
  .wrapper{
      width: 15%;
      padding-top: 1%;
  }
}